{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My amazing App</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.4/graphlib-dot.min.js"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/v0.5.0/dagre-d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js"></script>

<!-- Style here -->

    <style>
        svg {
            overflow: hidden;
        }
        .node rect {
            stroke: #333;
            stroke-width: 1.5px;
            fill: #fff;
        }
        .edgeLabel rect {
            fill: #fff;
        }
        .edgePath {
            stroke: #333;
            stroke-width: 1.5px;
            fill: none;
        }
    </style>






</head>

<body>


    <div style="border: 3px solid #fff; padding: 20px; width: 100%;">

        <div style="width: 40%; float: left;padding: 20px;border: 2px solid black;">
            <h1>The input area</h1>






            <form action="{% url 'compute_graph' %}" method="post">
                {% csrf_token %}
                <textarea name="input_text" style="width: 90%; height: 200px; overflow-y: scroll;">arg(a1).arg(a2).att(a1,a2).</textarea>

                <div>
                    Gradual semantics:
                    <input type="radio" name="semantics" id="cat" value="cat" checked>
                    <label for="cat">H-categoriser semantics</label>

                    <input type="radio" name="semantics" id="max" value="max">
                    <label for="max">Max-based semantics</label>

                    <input type="radio" name="semantics" id="card" value="card">
                    <label for="card">Card-based semantics</label>
                </div>

                <div id="impact_div"></div>

                <button type="submit">Compute</button>
            </form>


            <h1>Console:</h1>
            <div id = "outputDiv" style="width: 90%; height: 200px; overflow-y: scroll; padding: 10px; border: 2px solid black; white-space:pre-wrap;"></div>


        </div>


        <div style="margin-left: 45%;  width: 50%;padding: 20px;border: 2px solid black;">
            <h1>Graph information</h1>
            <table id="degree_table" style="border: 1px solid;">
                <tr>
                    <th>Arguments</th>
                    <th>a1</th>
                    <th>a2</th>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>

            </table>

            <h1>The display area</h1>

            <div>
                <svg id="graphContainer">
                    <g/>
                </svg>


            </div>


        </div>
    </div>



</body>



<script>
    //To update the console when clicking and building the dable
    $(document).ready(function () {
        $('form').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "compute_graph" %}',
                data: $(this).serialize(),
                success: function (data) {
                    $('#outputDiv').text(data.console);
                    // updateGraph(data.graph_data);
                }
            });

            $.ajax({
                type: 'POST',
                url: '{% url "compute_graph" %}',
                data: $(this).serialize(),
                success: function (data) {

                    var table = document.getElementById("degree_table");
                    var arg_graph = data.information_arg;

                    // Clear existing columns except the first one
                    for (var j=0; j<2; j++){
                        var headerRow = table.rows[j];
                        headerRow.style.border = "1px solid";
                        for (var i = headerRow.cells.length - 1; i > 0; i--) {
                            headerRow.deleteCell(i);
                        }
                    }

                    // Add rows from JSON data
                    for (var i = 0; i < arg_graph.length; i++) {
                        var cell1 = table.rows[0].insertCell(table.rows[0].cells.length);
                        var cell2 = table.rows[1].insertCell(table.rows[1].cells.length);
                        cell1.innerHTML = arg_graph[i].arg;
                        cell2.innerHTML = arg_graph[i].degree;
                        cell1.style.border = "1px solid";
                        cell2.style.border = "1px solid";
                    }


                    //Update graph
                    var g = graphlibDot.read(data.graph_data)

                    // Render the graphlib object using d3.
                    var render = new dagreD3.render();
                    d3.select("svg g").selectAll("*").remove();
                    render(d3.select("svg g"), g);


                    // Optional - resize the SVG element based on the contents.
                    var svg = document.querySelector('#graphContainer');
                    var bbox = svg.getBBox();
                    svg.style.width = bbox.width + 40.0 + "px";
                    svg.style.height = bbox.height + 40.0 + "px";

                    //populating the impact form.
                    var impactcontainer = document.getElementById("impact_div");

                    if(arg_graph.length > 0){
                        if (impactcontainer.textContent==""){
                            createImpactSelection(impactcontainer,arg_graph);
                        }
                    }
                    else{
                        //If there are no arguments, we remove the access to impact
                        impactcontainer.textContent = "";
                    }


                }
            });

        });
    });


    function createImpactSelection(impactcontainer,arg_graph){
        //We erase and redraw
        impactcontainer.textContent="";
        var titleImpact = document.createElement("h2");
        titleImpact.innerHTML = "Impact of X on x";
        impactcontainer.appendChild(titleImpact);

        var divImpactX = document.createElement("div");
        divImpactX.id = "X_set_impact";
        var divImpactx = document.createElement("div");
        divImpactx.id = "x_impact";

        impactcontainer.appendChild(divImpactX);
        impactcontainer.appendChild(divImpactx);
        divImpactX.textContent = "Arguments in X: ";
        divImpactx.textContent = "Arg x: ";

        for (var i=0; i< arg_graph.length; i++){

            var inputArg_X = document.createElement("input");
            var inputArg_x = document.createElement("input");
            inputArg_X.type = "checkbox";
            inputArg_x.type = "radio";

            inputArg_X.name = "X_set";
            inputArg_x.name = "x_arg";

            inputArg_X.id = inputArg_X.value = inputArg_x.id = inputArg_x.value = arg_graph[i].arg;

            var labelX = document.createElement("label");
            var labelx = document.createElement("label");
            labelX.htmlFor = labelX.textContent= inputArg_X.id;
            labelx.htmlFor = labelx.textContent = inputArg_x.id;

            divImpactX.appendChild(labelX);
            divImpactX.appendChild(inputArg_X);

            divImpactx.appendChild(labelx);
            divImpactx.appendChild(inputArg_x);
        }
    }

</script>


</html>