{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gradual Argumentation Semantics and Impact App</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.4/graphlib-dot.min.js"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/v0.5.0/dagre-d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js"></script>

<!-- Style here -->

    <style>
        svg {
            overflow: hidden;
        }
        .node rect {
            stroke: #333;
            stroke-width: 1.5px;
            fill: #fff;
        }
        .edgeLabel rect {
            fill: #fff;
        }
        .edgePath {
            stroke: #333;
            stroke-width: 1.5px;
            fill: none;
        }
    </style>






</head>

<body>


    <div style="border: 3px solid #fff; padding: 20px; width: 100%;">

        <div style="width: 40%; float: left;padding: 20px;border: 2px solid black;">
            <h1>The input area</h1>






            <form action="{% url 'compute_graph' %}" method="post" id="graph_form">
                {% csrf_token %}
                <textarea name="input_text" style="width: 90%; height: 200px; overflow-y: scroll;" id="input_text">arg(a1).arg(a2).att(a1,a2).</textarea>
                <!--
                arg(a1).arg(a2).arg(a3).arg(a4).arg(a5).arg(a6).arg(a7).arg(a8).arg(a9).arg(a10).arg(a11).
                att(a10,a9).
                att(a9,a10).
                att(a9,a8).
                att(a8,a7).
                att(a8,a4).
                att(a6,a5).
                att(a5,a4).
                att(a2,a1).
                att(a1,a2).
                att(a1,a3).
                att(a2,a3).
                att(a3,a4).
                -->
                <div>
                    Gradual semantics:
                    <input type="radio" name="semantics" id="cat" value="cat" checked>
                    <label for="cat">H-categoriser semantics</label>

                    <input type="radio" name="semantics" id="max" value="max">
                    <label for="max">Max-based semantics</label>

                    <input type="radio" name="semantics" id="card" value="card">
                    <label for="card">Card-based semantics</label>
                </div>

                <button type="submit">Compute</button>
            </form>


            <h1>Console:</h1>
            <div id = "outputDiv" style="width: 90%; height: 200px; overflow-y: scroll; padding: 10px; border: 2px solid black; white-space:pre-wrap;"></div>


        </div>


        <div style="margin-left: 45%;  width: 50%;padding: 20px;border: 2px solid black;">
            <h1>Graph information</h1>
            <table id="degree_table" style="border: 1px solid;">
                <tr>
                    <th>Arguments</th>
                    <th>a1</th>
                    <th>a2</th>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>

            </table>

            <h1>The display area</h1>

            <div>
                <svg id="graphContainer">
                    <g/>
                </svg>

                <form method="post" action="{% url 'compute_impact' %}" id="impact_form">
                    {% csrf_token %}

                    <div id="impact_div"></div>

                    <input type="hidden" name="hidden_graph" id="hidden_graph">
                    <input type="hidden" name="hidden_degree" id="hidden_degree">
                    <input type="hidden" name="hidden_attacks" id="hidden_attacks">

                    <button type="submit" style="display: none;" id="button_impact">Compute Impact</button>
                </form>

            </div>


        </div>
    </div>



</body>



<script>
    //To update the console when clicking and building the dable
    $(document).ready(function () {
        $('#graph_form').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "compute_graph" %}',
                data: $(this).serialize(),
                success: function (data) {
                    $('#outputDiv').append("<p>"+data.console+"</p>");
                    // updateGraph(data.graph_data);
                }
            });

            $.ajax({
                type: 'POST',
                url: '{% url "compute_graph" %}',
                data: $(this).serialize(),
                success: function (data) {

                    var table = document.getElementById("degree_table");
                    var arg_graph = data.information_arg;

                    //Copying the degree and intensity information
                    document.getElementById("hidden_attacks").value = data.information_attacks;
                    document.getElementById("hidden_degree").value = JSON.stringify(data.information_arg);

                    // Clear existing columns except the first one
                    for (var j=0; j<2; j++){
                        var headerRow = table.rows[j];
                        headerRow.style.border = "1px solid";
                        for (var i = headerRow.cells.length - 1; i > 0; i--) {
                            headerRow.deleteCell(i);
                        }
                    }

                    // Add rows from JSON data
                    for (var i = 0; i < arg_graph.length; i++) {
                        var cell1 = table.rows[0].insertCell(table.rows[0].cells.length);
                        var cell2 = table.rows[1].insertCell(table.rows[1].cells.length);
                        cell1.innerHTML = arg_graph[i].arg;
                        cell2.innerHTML = arg_graph[i].degree;
                        cell1.style.border = "1px solid";
                        cell2.style.border = "1px solid";
                    }


                    //Update graph
                    var g = graphlibDot.read(data.graph_data)

                    // Render the graphlib object using d3.
                    var render = new dagreD3.render();
                    d3.select("svg g").selectAll("*").remove();
                    render(d3.select("svg g"), g);


                    // Optional - resize the SVG element based on the contents.
                    var svg = document.querySelector('#graphContainer');
                    var bbox = svg.getBBox();
                    svg.style.width = bbox.width + 40.0 + "px";
                    svg.style.height = bbox.height + 40.0 + "px";

                    //populating the impact form.
                    var impactcontainer = document.getElementById("impact_div");
                    var button_impact = document.getElementById("button_impact");

                    //We need to pass the graph to the second form
                    document.getElementById("hidden_graph").value=document.getElementById("input_text").value;


                    if(arg_graph.length > 0){

                        button_impact.style.display= "block";

                        if (impactcontainer.textContent==""){ //This happens when there is nothing in this section
                            createImpactSelection(impactcontainer,arg_graph);
                        }
                        else{ //In this case, we only add/remove the cells for the arguments that are missing
                            updateImpactSelection(impactcontainer,arg_graph);
                        }
                    }
                    else{
                        //If there are no arguments, we remove the access to impact
                        impactcontainer.textContent = "";
                        button_impact.style.display= "none";
                    }


                }
            });
        });
    });

    $(document).ready(function () {
        $('#impact_form').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "compute_impact" %}',
                data: $(this).serialize(),
                success: function (data) {
                    $('#outputDiv').append("<p>"+data.console+"</p>");

                }
            });
        });
    });

    function updateImpactSelection(impactcontainer,arg_graph){


        //We get the set of displayed arguments
        const displayedArguments = new Set();
        var X_div = document.getElementById("X_set_impact");
        for (var i = 0; i < X_div.children.length; i++) {
            const id = X_div.children[i].id;
            if (id != ""){
                displayedArguments.add(id.substring(1)); // Store the id in the array (we remove the X at the beginning).
            }
        }
        console.log(displayedArguments);

        const setOfArguments = new Set();
        var divImpactX = document.getElementById("X_set_impact");
        var divImpactx = document.getElementById("x_impact");
        for (var i = 0; i < arg_graph.length; i++) {
            current_arg = arg_graph[i].arg
            setOfArguments.add(current_arg);

            if(!displayedArguments.has(current_arg)){ //If there is an argument that is not displayed, we need to add it
                appendInputOption(divImpactx, "radio", "x_arg", "x"+current_arg, current_arg);
                appendInputOption(divImpactX, "checkbox", "X_set", "X"+current_arg, current_arg);
            }
        }

        //If there is an argument that is displayed that disapeared
        const diff = Array.from(displayedArguments).filter(function(x) {
            return Array.from(setOfArguments).indexOf(x) < 0;
        });
        const divImpactXChildElts = divImpactX.children;
        const divImpactxChildElts = divImpactx.children;
        for (let i = divImpactXChildElts.length - 1; i >= 0; i--) {
            if (diff.indexOf(divImpactXChildElts[i].id) >=0) {
                divImpactX.removeChild(divImpactXChildElts[i]);
                divImpactx.removeChild(divImpactxChildElts[i]);
            }
        }





    }

    function appendInputOption(container, type, name, id_value, label_text){
        var inputOpt = document.createElement("input");
        inputOpt.type = type;
        inputOpt.name = name;
        inputOpt.id = inputOpt.value = id_value;
        var labelOpt = document.createElement("label");
        labelOpt.htmlFor = inputOpt.id;
        labelOpt.textContent = label_text;
        container.append(inputOpt);
        container.append(labelOpt);
        return inputOpt;
    }

    function createImpactSelection(impactcontainer,arg_graph){
        //We erase and redraw
        impactcontainer.textContent="";
        var titleImpact = document.createElement("h2");
        titleImpact.innerHTML = "Impact of X on x";
        impactcontainer.appendChild(titleImpact);

        var divImpactX = document.createElement("div");
        var divImpactx = document.createElement("div");
        var semImpact = document.createElement("div");
        divImpactX.id = "X_set_impact";
        divImpactx.id = "x_impact";
        semImpact.id = "sem_impact";

        impactcontainer.appendChild(divImpactX);
        impactcontainer.appendChild(divImpactx);
        impactcontainer.appendChild(semImpact);
        divImpactX.textContent = "X: ";
        divImpactx.textContent = "x: ";
        semImpact.textContent = "Impact semantics:"

        //We add the possible arguments to select
        for (var i=0; i< arg_graph.length; i++){
            current_arg = arg_graph[i].arg;
            appendInputOption(divImpactx, "radio", "x_arg", "x"+current_arg, current_arg);
            appendInputOption(divImpactX, "checkbox", "X_set", "X"+current_arg, current_arg);
        }

        //We add the possible semantics
        appendInputOption(semImpact,"radio","sem_impact","delobelle","Delobelle").checked = true;
        appendInputOption(semImpact,"radio","sem_impact","shapley","Shapley-based");
    }

</script>


</html>