{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My amazing App</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://dagrejs.github.io/project/graphlib-dot/v0.6.4/graphlib-dot.min.js"></script>
    <script src="https://dagrejs.github.io/project/dagre-d3/v0.5.0/dagre-d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.1.2/viz.js"></script>

<!-- Style here -->

    <style>
        svg {
            overflow: hidden;
        }
        .node rect {
            stroke: #333;
            stroke-width: 1.5px;
            fill: #fff;
        }
        .edgeLabel rect {
            fill: #fff;
        }
        .edgePath {
            stroke: #333;
            stroke-width: 1.5px;
            fill: none;
        }
    </style>






</head>

<svg height="0" width="0">
    <marker id="arrow" markerWidth="10" markerHeight="10" refX="8" refY="5" orient="auto">
        <path d="M0,0 L0,10 L10,5 z" fill="black" />
    </marker>
</svg>


<body>


    <div style="border: 3px solid #fff; padding: 20px; width: 100%;">

        <div style="width: 40%; float: left;padding: 20px;border: 2px solid black;">
            <h1>The input area</h1>






            <form action="{% url 'compute' %}" method="post">
                {% csrf_token %}
                <textarea name="input_text" style="width: 90%; height: 200px; overflow-y: scroll;">arg(a1).arg(a2).att(a1,a2).</textarea>

                <div>
                    Gradual semantics:
                    <input type="radio" name="semantics" id="cat" value="cat" checked>
                    <label for="cat">H-categoriser semantics</label>

                    <input type="radio" name="semantics" id="max" value="max">
                    <label for="max">Max-based semantics</label>

                    <input type="radio" name="semantics" id="card" value="card">
                    <label for="card">Card-based semantics</label>
                </div>

                <button type="submit">Compute</button>
            </form>


            <h1>Console:</h1>
            <div id = "outputDiv" style="width: 90%; height: 200px; overflow-y: scroll; padding: 10px; border: 2px solid black; white-space:pre-wrap;"></div>


        </div>


        <div style="margin-left: 45%;  width: 50%;padding: 20px;border: 2px solid black;">
            <h1>Graph information</h1>
            <table id="degree_table" style="border: 1px solid;">
                <tr>
                    <th>Arguments</th>
                    <th>a1</th>
                    <th>a2</th>
                </tr>
                <tr>
                    <td>Degree</td>
                    <td>1</td>
                    <td>0.5</td>
                </tr>

            </table>

            <h1>The display area</h1>

            <div id="container">
                <svg id="graphContainer">
                    <g/>
                </svg>
            </div>


        </div>
    </div>



</body>



<script>
    //To update the console when clicking and building the dable
    $(document).ready(function () {
        $('form').on('submit', function (event) {
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "compute" %}',
                data: $(this).serialize(),
                success: function (data) {
                    $('#outputDiv').text(data.console);
                    // updateGraph(data.graph_data);
                }
            });

            $.ajax({
                type: 'POST',
                url: '{% url "compute" %}',
                data: $(this).serialize(),
                success: function (data) {

                    var table = document.getElementById("degree_table");
                    var arg_graph = data.information_arg;

                    // Clear existing columns except the first one
                    for (var j=0; j<2; j++){
                        var headerRow = table.rows[j];
                        headerRow.style.border = "1px solid";
                        for (var i = headerRow.cells.length - 1; i > 0; i--) {
                            headerRow.deleteCell(i);
                        }
                    }

                    // Add rows from JSON data
                    for (var i = 0; i < arg_graph.length; i++) {
                        var cell1 = table.rows[0].insertCell(table.rows[0].cells.length);
                        var cell2 = table.rows[1].insertCell(table.rows[1].cells.length);
                        cell1.innerHTML = arg_graph[i].arg;
                        cell2.innerHTML = arg_graph[i].degree;
                        cell1.style.border = "1px solid";
                        cell2.style.border = "1px solid";
                    }


                    //Update graph
                    var g = graphlibDot.read(data.graph_data)

                    // Render the graphlib object using d3.
                    var render = new dagreD3.render();
                    d3.select("svg g").selectAll("*").remove();
                    render(d3.select("svg g"), g);


                    // Optional - resize the SVG element based on the contents.
                    var svg = document.querySelector('#graphContainer');
                    var bbox = svg.getBBox();
                    svg.style.width = bbox.width + 40.0 + "px";
                    svg.style.height = bbox.height + 40.0 + "px";

                }
            });

        });
    });




</script>


<script type="module">

    window.onload = function() {
        // Parse the DOT syntax into a graphlib object.
        var g = graphlibDot.read(
            'digraph {\n' +
            '    a1 -> a2;\n' +
            '    }'
        )

        // Render the graphlib object using d3.
        var render = new dagreD3.render();
        render(d3.select("svg g"), g);


        // Optional - resize the SVG element based on the contents.
        var svg = document.querySelector('#graphContainer');
        var bbox = svg.getBBox();
        svg.style.width = bbox.width + 40.0 + "px";
        svg.style.height = bbox.height + 40.0 + "px";
    }

</script>

</html>